body {
	background-color: gray;
	background-attachment: fixed;
	display: table;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

h2 {
	font-family: "Overpass", sans-serif;
}

#loginForm h2 {
	margin: 0;
	padding: 0;
}

body, input, button {
	font-family: sans-serif;
}

div.projectContainer {
	border: 1px solid black;
}

div.project {
	border: 1px solid black;
	background-color: #fff;
	padding: 1em;
	margin: 1em;
}

div.wall {
	border: 1px solid green;;
	border-collapse: collapse;
	background-color: white;
	padding: 1em;
	background-color: skyblue;
}

div.period {
	border: 1px solid red;
	display: inline-block;
}

div.task {
	background-color: #fff;
	box-shadow: 0 0 4px lightgray;
	margin: .1em;
	margin-bottom: .4em;
	padding: .4em;
	border-radius: .4em;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}

div.task:hover {
	background-color: lightskyblue;
}

div.task button {
	margin-top: 0;
}

.taskButtons {
	display: inline-block;
}

.taskButtons .span {
	display: inline-block;
}

h2 {
	color: darkblue;
	margin: 0;
	padding-top: .2em;
	padding-left: .2em;
	padding-bottom: .7em;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

th.dayHeader td {
	background-color: white;
	border: 1px solid black;
}

div.period table {
	background-color: white;
}

div#sidepanel {
	background-color: #fff;
	box-shadow: 0 0 6px #aaa;
	border-right: 2px solid darkblue;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	direction: rtl;
}

div#sidepanel * {
	direction: ltr;
}

div#sidepanel h2 {
}

ul.lists {
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	user-select: none;
}

li.list {
	list-style: none;
	color: black !important;
}

.listTitle {
	font-family: "Overpass", sans-serif;
	font-size: 12pt;
	display: block;
	text-decoration: none;
	padding: .4em;
	color: 000;;	
	text-shadow: 1px 1px #ccc;
	border-bottom: 1px dashed #ccc;
}

.listTitle:hover {
	background-color: skyblue;
	color: black;
}

.selected a, .selected > div.task {
	color: black;
	font-weight: bold;
	background-color: beige;
}

div#content {
	position: fixed;
	overflow: auto;
	padding-top: .4em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
	margin-bottom: 6em;
	left: 200;
	background-color: rgba(239, 239, 239, 0.7);
	z-index: -2;
	height: 100%;
}

input#task {
	background-color: beige;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
	transition: all 0.2s linear;
	border-radius: .4em;
	width: 100%;
	padding: .4em;
	margin-bottom: 1.1em;
	color: darkgray;
}

input#task:focus {
	color: black;
}

input#task:disabled {
	background-color: gray;
	cursor: not-allowed;
}

div.notification {
	position: absolute;
	float: right;
}

ul#taskList {
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	user-select: none;
}

.list .subtle {
	float: right;
	font-size: 80%;
}

.notification {
	border: 2px solid red;
	background-color: salmon;
	border-radius: 1em;
	padding: 1em;
	position: absolute;
	cursor: pointer;
	margin: 1em;
}

.notification:hover {
	border-color: black;
}

button {
	background-color: #d6d6d6;
	padding: .4em;
	border-radius: 0.2em;
	border: 1px solid #ccc;
	margin: .2em;
}

button.expand {
	float: left;
	min-width: 1.5em;
	margin-right: .5em;
}

button:disabled {
	background-color: #bbb;
}

button:not([disabled]):hover {
	background-color: #fff;
	border-color: #ccc;
	cursor: pointer;
}

button.refresh {
	background-image: url('refresh.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.task button {
	padding: 0;
}

div.subTasks {
	margin-left: 1em;
}

.listControls {
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: white;
	border-radius: 1em 0 0 0;
	padding: .2em;
	padding-left: 1em;
	font-size: 80%;
}

#loginButtons {
	text-align: right;
}

.editDialog {
	width: 95%;
	margin: auto;
	margin-top: -0.5em;
	margin-bottom: 1em;
	font-size: small;
	background-color: #333;
	color: white;
	border-radius: 0 0 0.5em 0.5em;
	box-shadow: 0 0 4px lightgray;
	-moz-user-select: none;
	user-select: none;
	padding: 0.5em;
}

.itemInput span {
	display: inline-block;
}

.itemIinput input {
	display: inline-block;
}

.tag {
}

.tag.selected {
	background-color: limegreen;
}

ul.tags {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 1em;
}

ul.tags li {
	border: 1px solid #bbb;
	margin: 6px;
	padding: 2px;
}

ul.tags li:hover {
	background-color: beige;
}

div#loginForm {
	position: absolute;
	left: 1em;
	top: 10em;
	padding: 1em;
	border: 1px solid black;
	box-shadow: 4px lightgray;
	background-color: rgba(255,255,255,.7);
	border-radius: .4em;
}

div#loginForm p:last-child {
	margin-bottom: 0;
}

label {
	min-width: 8em;
	display: inline-block;
}

// jquery dialog close button
.ui-dialog .ui-dialog-titlebar-close {
	height: 10px !important;
	width: 10px !important;
}

span.ui-button-text {
	display: none !important;
}

div.task div.controls {
	float: right;
}

div.task input {
	background-color: transparent;
	border: 0;
	border-bottom: 0;
}

div.taskButtons input {
	text-align: right;
}

div.taskWrapper.selected div.task input.hasDatePicker {
	border-bottom: 1px dashed gray;
}

ul.dropDownMenu {
	border: 2px solid darkblue;
	display: none;
	background-color: white;
	list-style: none;
	font-size: 12pt;
	color: black;
	margin: 0;
	padding: 0;
	margin-left: .4em;
	font-weight: normal;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	width: 240px;
	cursor: pointer;
}

li.menuItem {
	padding: 4px;
	font-family: sans-serif;
	font-size: 80%;
}

li.menuItem:hover {
	background-color: beige;
}

input.renamer {
	width: 50%;
}

a, a:visited {
	color: black;
}
