:root {
	--selected-bg-color: beige;
	--focus-bg-color: #c0ffbb;
	--focus-outline: 1px solid red;
	--focus-border: 1px solid red;
	--hover-bg-color: #C3E6FC;
	--hover-border: 1px solid black;
}

body {
	background-color: gray;
	background-attachment: fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

content-panel {
	display: flex;
	flex: 1 2 auto;
	flex-direction: column;
	min-height: 100vh;
	overflow: auto;
	background-color: rgba(239, 239, 239, 0.7);
}

body, input, button {
	font-family: sans-serif;
	flex-direction: row;
	display: flex;
}

div.projectContainer {
	border: 1px solid black;
}

div.project {
	border: 1px solid black;
	background-color: #fff;
	padding: 1em;
	margin: 1em;
}

div.wall {
	border: 1px solid green;;
	border-collapse: collapse;
	background-color: white;
	padding: 1em;
	background-color: skyblue;
}

div.period {
	border: 1px solid red;
	display: inline-block;
}

div.task {
	cursor: pointer;
	display: flex;
	margin: .1em;
	margin-bottom: .4em;
	padding: .4em;
}

div.task, .contentTab {
	background-color: #fff;
	box-shadow: 0 0 4px lightgray;
	border-radius: .4em;
	-moz-user-select: none;
	user-select: none;
	flex-wrap: wrap;
}

.contentTab {
	display: block;
	margin: .6em;
	padding: 1em;
}

div.task:hover {
	background-color: var(--hover-bg-color);
}

div.task button {
	margin-top: 0;
}

.taskButtons {
	display: flex;
}

h2 {
	font-family: "Overpass", sans-serif;
	color: white;
	margin: 0;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
	border-bottom: 1px solid black;
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.35);
}

th.dayHeader td {
	background-color: white;
	border: 1px solid black;
}

div.period table {
	background-color: white;
}

side-panel {
	display: flex;
	box-shadow: 0 0 6px #aaa;
	background-color: #fff;
	border-right: 2px solid black;

}

aside {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	min-width: 200px;
	resize: horizontal;
}

aside h2 a, aside h2 a:visited, .sidePanelToggleButton {
	background-color: #2dae82;
	color: white;
	display: block;
	padding-top: .5em;
	padding-left: .2em;
	padding-bottom: .5em;
}

.sidePanelToggleButton:hover {
	background-color: #2dbb80 !important;
}

.sidePanelToggleButton {
	margin: 1em;
}

aside h2 a:hover {
	background-color: #2dbb80 !important;
	cursor: pointer;
}

aside a:focus, aside a:visited:focus, .sidePanelToggleButton:focus {
	outline: var(--focus-border);
	background-color: var(--focus-bg-color);
	color: black;
}

login-form h2 {
	margin: 0;
	padding: 0;
	color: black;
	box-shadow: none;
}


ul.lists {
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	user-select: none;
}

li.list {
	list-style: none;
	color: black !important;
}

side-panel-list-button, side-panel-tag-button {
	border-bottom: 1px dashed #ccc;
}

.listMenuLink, .tagMenuLink {
	display: flex;
	font-family: "Overpass", sans-serif;
	font-size: 12pt;
	text-decoration: none;
	padding: .4em;
	color: 000;;	
	text-shadow: 1px 1px #ccc;
	border-bottom: 1px dashed #ccc;
}

.listMenuLink:hover, .tagMenuLink:hover {
	background-color: var(--hover-bg-color);
	cursor: pointer;
	color: black;
}

.listMenuLink:focus, .tagMenuLink:focus {
	background-color: var(--focus-bg-color);
	outline: var(--focus-outline);
}

.tagMenuLink {
}

.listTitle, .tagTitle {
	flex: 2 1 auto;
}

.selected a, .selected > div.task {
	color: black;
	font-weight: bold;
	background-color: var(--selected-bg-color);
}

input {
	border: 1px solid grey;
	padding: .5em;
}

input#task {
	display: inline-block;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
	transition: all 0.2s linear;
	border-radius: .4em;
	padding: .4em;
	color: darkgray;
	flex: 1 2 auto;
	margin: .5em;
	margin-bottom: .8em;
	font-size: 1.2em;
	height: 1em;
}

input#task:focus {
	background-color: var(--focus-bg-color);
	color: black;
	border-color: black;
	outline: var(--focus-outline);
	border-radius: 0;
}

input#task:disabled {
	background-color: gray;
	cursor: not-allowed;
}

div.notification {
	position: absolute;
	float: right;
}

ul#taskList {
	padding: .5em;
	padding-top: 0;
	margin-top: 0;
	-moz-user-select: none;
	user-select: none;
}

.subtle {
	color: grey;
}

.list .subtle {
	flex: 1 1 auto;
	text-align: right;
	font-size: 80%;
}

.notification {
	border: 2px solid black;
	background-color: gray;
	border-radius: 1em;
	padding: 1em;
	position: absolute;
	cursor: pointer;
	margin: 1em;
}

.notification.good {
	border: 2px solid green;
	background-color: limegreen;
}

.notification.error {
	border: 2px solid red;
	background-color: salmon;
}

.notification:hover {
	border-color: black;
}

.buttonToolbar {
	display: flex;
	align-items: center;
}

button {
	background-color: white;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0 1px #666;
	padding: .4em;
	border-radius: 0.2em;
	border: 1px solid #ccc;
	opacity: 100;
	margin: .2em;
}

button:focus {
	background-color: var(--focus-bg-color) !important;
	outline: var(--focus-outline);
	border-radius: 0;
	box-shadow: 0 2px #666;
}

button:hover {
	box-shadow: 0 2px #666;
}

button.expand {
	min-width: 1.5em;
	margin-right: .5em;
}

button:disabled {
	background-color: #bbb;
}

button:not([disabled]):hover {
	background-color: var(--hover-bg-color);
	border: var(--hover-border);
	box-shadow: 0;
	cursor: pointer;
}

button:not([disabled]):hover:focus {
	border: 1px solid transparent;
}

.task button {
	padding-top: 0;
	padding-bottom: 0;
}

div.subTasks {
	margin-left: 1em;
}

.listControls {
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: white;
	border-radius: 1em 0 0 0;
	padding: .2em;
	padding-left: 1em;
	font-size: 80%;
}

#loginButtons {
	text-align: right;
}

.editDialog {
	width: 95%;
	margin: auto;
	margin-top: -0.5em;
	margin-bottom: 1em;
	font-size: small;
	background-color: #333;
	color: white;
	border-radius: 0 0 0.5em 0.5em;
	box-shadow: 0 0 4px lightgray;
	-moz-user-select: none;
	user-select: none;
	padding: 0.5em;
}

.itemInput span {
	display: none; /* was previously used*/
}

.itemInput input {
	display: inline-block;
}

div.itemInput {
	position: fixed;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	background-color: #fff;
	border-bottom: 1px solid black;
	display: flex;
	min-width: 98%;
}

div#listContainer {
	display: block;
	margin-top: 3em;
}

ul.tags {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.taskTags li {
	margin-right: 1em;
	display: inline-block;
	background-color: #efefef; 
	padding: .1em;
}

login-form {
	position: absolute;
	left: 1em;
	top: 10em;
	padding: 1em;
	border: 1px solid black;
	box-shadow: 4px lightgray;
	background-color: rgba(255,255,255,.7);
	border-radius: .4em;
}

login-form p:last-child {
	margin-bottom: 0;
}

label {
	min-width: 8em;
	display: inline-block;
}

div.task div.controls {
	flex: 1 1 auto;
	text-align: right;
}

div.task input {
	background-color: transparent;
	border: 0;
	border-bottom: 0;
}

div.task span.content {
	flex: 1;
}

div.taskButtons input {
	text-align: right;
}

div.taskWrapper.selected div.task input.hasDatePicker {
	border-bottom: 1px dashed gray;
}

div.indicator {
	padding: .2em;
	margin-right: -.5em;
	margin-left: .5em;
}

ul.popupMenu, .ui-datepicker, .ui-dialog {
	border: 2px solid black;
	background-color: white;
	box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.7);
}

.ui-datepicker-next {
	float: right;
}

.ui-datepicker-prev, .ui-datepicker-next {
	font-size: small;
}

.ui-datepicker-year, .ui-datepicker-month {
	text-align: center;
	margin: 0;
	padding: 0;
}

.ui-datepicker-month, .ui-datepicker-year {
	font-weight: bold;
}

.ui-datepicker-title {
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
}

ul.popupMenu {
	background-color: white;
	list-style: none;
	font-size: 12pt;
	color: black;
	margin: 0;
	padding: 0;
	font-weight: normal;
	position: absolute;
	width: 12em;
	cursor: pointer;
	border: 1px solid gray;
	z-index: 99;
}

ul.popupMenu a {
	display: block;
	padding: .5em;
}

ul.popupMenu a:hover {
	background-color: var(--hover-bg-color);
}

ul.popupMenu a:focus {
	background-color: var(--focus-bg-color);
	outline: var(--focus-border);
}

li.menuItem {
	text-align: left;
}

li.menuItem:hover {
}

li.menuItem.selected {
	font-weight: bold;
}

li.menuItem.selected:after {
	content: '\2714';
	float: right;
}

input.renamer {
	width: 50%;
}

a, a:visited {
	color: black;
}

.dropdown {
	color: gray;
	font-size: 80%;
	text-align: right;
	-moz-user-select: none;
	user-select: none;
}

.popupMenuButton {
	position: relative; /** This is important, because the resulting popup menu has position absolute, which is absolute relative to the button. */
}

h2.popupMenuButton:hover, h2.hasMenu {
	text-decoration: underline;
}

@media print {
	side-panel {
		display: none;
	}

	div.itemInput {
		display: none;
	}

	div.listControls {
		display: none;		
	}

	content-panel {
		left: 0 !important;
		right: 0;
	}

	.controls button {
		display: none !important;
	}

	body, input, button {
		font-size: 9pt;
	}
}

input.validationError, input:invalid {
	border: 1px solid red;
}

p.validationError {
	color: red;
	font-size: small;
	text-align: right;
}

button#sidepanelIcon {
	background-color: red;
	display: inline-block;
	flex: 0 1 auto;
	margin-right: 1em;
	background-color: #2dae82;
	color: white;
	font-weight: bold;
	display: none;
}

@media screen and (max-width: 640px) {
	div.task {
		margin: 0;
		margin-bottom: .4em;
		border-radius: 0;
	}

	ul#taskList {
		padding-left: 0;
		padding-right: 0;
	}

	div#sidepanel {
		display: none;
		max-width: 100%;
		width: 100%;
	}

	content-panel {
		display: block;
	}

	button#sidepanelIcon {
		display: block;
	}

	div#content {
		margin: 0;
		padding: 0;
		left: 0;
	}

}

a.externalItemUrl {
	background-color: #efefef;
	color: blue;
	padding: 2px;
	margin-left: .2em;
	margin-right: .2em;

}

task-input-box {
	display: flex;
}

h3 {
	margin: 0;
}

#tagValues div > * {
	display: inline-block;
}
