body {
	background-color: gray;
	display: table;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: "Overpass", sans-serif;
}

body, input, button {
	font-family: sans-serif;
}

div.projectContainer {
	border: 1px solid black;
}

div.project {
	border: 1px solid black;
	background-color: #fff;
	padding: 1em;
	margin: 1em;
}

div.wall {
	border: 1px solid green;;
	border-collapse: collapse;
	background-color: white;
	padding: 1em;
	background-color: skyblue;
}

div.period {
	border: 1px solid red;
	display: inline-block;
}

div.task {
	background-color: #fff;
	box-shadow: 0 0 4px lightgray;
	margin: .1em;
	margin-bottom: .4em;
	padding: .4em;
	border-radius: .4em;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}

div.task:hover {
	background-color: lightskyblue;
}

div.task button {
	margin-top: 0;
}

.taskButtons {
	float: right;
}

h2 {
	color: darkblue;
	margin: 0;
	padding-top: .2em;
	padding-left: .2em;
	padding-bottom: .7em;
	-moz-user-select: none;
	user-select: none;
	cursor: default;
}

th.dayHeader td {
	background-color: white;
	border: 1px solid black;
}

div.period table {
	background-color: white;
}

div#sidepanel {
	background-color: #fff;
	box-shadow: 0 0 6px #aaa;
	border-right: 2px solid darkblue;
	position: fixed;
	left: 0;
	top: 0;
	width: 200px;
	height: 100%;
}

div#sidepanel h2 {
}

ul.lists {
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	user-select: none;
}

li.list {
	list-style: none;
}

.listTitle {
	font-family: "Overpass", sans-serif;
	font-size: 12pt;
	display: block;
	text-decoration: none;
	padding: .4em;
	color: 000;;	
	text-shadow: 1px 1px #ccc;
	border-bottom: 1px dashed #ccc;
}

.listTitle:hover {
	background-color: skyblue;
	color: black;
}

.selected a, .selected > div.task {
	color: black;
	font-weight: bold;
	background-color: beige;
}

div#content {
	position: absolute;
	padding-top: .4em;
	padding-left: 1em;
	padding-right: 1em;
	left: 200;
	background-color: #efefef;
	z-index: -2;
	height: 100%;
}

input#task {
	background-color: beige;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
	transition: all 0.2s linear;
	border-radius: .4em;
	width: 100%;
	padding: .4em;
	margin-bottom: 1.1em;
}

input#task:disabled {
	background-color: gray;
	cursor: not-allowed;
}

div.notification {
	position: absolute;
	float: right;
}

ul#taskList {
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	user-select: none;
}

.list .subtle {
	float: right;
	font-size: 80%;
}

.notification {
	border: 2px solid red;
	background-color: salmon;
	border-radius: 1em;
	padding: 1em;
	position: absolute;
	cursor: pointer;
	margin: 1em;
}

.notification:hover {
	border-color: black;
}

button {
	background-color: #d6d6d6;
	padding: .4em;
	border-radius: 0.2em;
	border: 1px solid #ccc;
	margin: .2em;
}

button.expand {
	float: left;
}

button:disabled {
	background-color: #bbb;
}

button:not([disabled]):hover {
	background-color: #fff;
	border-color: #ccc;
	cursor: pointer;
}

button.refresh {
	background-image: url('refresh.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.task button {
	padding: 0;
}

div.subTasks {
	margin-left: 1em;
}

.listControls {
	position: fixed;
	right: 0;
	bottom: 0;
}

.editDialog {
	width: 95%;
	margin: auto;
	margin-top: -0.5em;
	margin-bottom: 1em;
	font-size: small;
	background-color: #333;
	color: white;
	border-radius: 0 0 0.5em 0.5em;
	box-shadow: 0 0 4px lightgray;
	-moz-user-select: none;
	user-select: none;
	padding: 0.5em;
}

.itemInput span {
	display: inline-block;
}

.itemIinput input {
	display: inline-block;
}

.tag {
	float: right;
}

.tag.selected {
	background-color: limegreen;
}

ul.tags {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 1em;
}

ul.tags li {
	border: 1px solid #bbb;
	margin: 6px;
	padding: 2px;
}

ul.tags li:hover {
	background-color: beige;
}

div#loginForm {
	margin: auto;
	margin-top: 10em;
	padding: 1em;
	border: 1px solid black;
	box-shadow: 4px lightgray;
	background-color: white;
	width: 350px;
}
